nav{
    background-color: rgb(94, 90, 90);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
}
nav h1{
    color: white;
}
header{
    
    position: absolute;
    top: 6%;
    width: 100%;
    height: 6%;
    text-align: center;
}
body{
    display: flex;
    margin: 0px;
}
main{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12%;
    width: 100%;
    height: 75%;
}
main footer{
    position: absolute;
    bottom: 0%;
    right: 0%;

}
main footer blockquote{
    margin-right: 10px;
    margin-bottom: 0px;
}
main table{
    
    width: 35%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}
main table  th,td{
    border: 1px solid black;

}
.bookIndex{
  background-color: rgb(255, 255, 255);
}
.bookName{ 
 background-color: aquamarine;
}
.authorName{
 background-color: bisque;
}
.bookLink{
 background-color: cadetblue;
}
.indexFooter{
    width: 100%;
    height: 100px;
    background-color:rgb(234, 233, 233);
    display: flex;
    position: absolute;
    bottom: 0%;
}
.indexFooter h3{
    color:rgb(107, 101, 101);
    position: absolute;
    top: 15%;
    left: 45%;
}

