*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.model{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.model:target{
    display: block;
}
.model .box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    max-height: 500px;
    background: #fff;
    border-radius: 4px;
    vertical-align: middle;
}
.model .box>h2>a{
    float: right;
    margin-right: 10px;
} 
.model .content{
    position: relative;
    padding: 20px;
}
.model p{
    font-size: 21px;  
}
