body{
   
}
.father{
    background-color: aqua;
    width: 600px;
    height: 600px;
 
}
.item{
    width: 300px;
    height: 300px;
   
    /*** margin-left: 30px; ***/
    position: sticky;
    z-index: 3;
    margin-right: 30px;
    padding-right: 30px;
    background-color: brown;
}
.item2{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 0;
    background-color: blue;
}
.box{
    border: 3px solid green;
    background: none;
    margin: 10px;
    display: block;
    background-color: #0000;
    
}
/* @import url("index2.css") */