body{
    margin: 0;
}
nav span{
    font-size: 60px;
    color: azure;
    border: 2px solid red;
}
nav{
    height: 10vw;
    width: 100vw;
    background-color: black;
    text-align: center;
}
nav span::before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
main .leftSildBar{
   background-color: aqua;
   float: left;
   width: 15vw;
   height: 30vw;
}
main .mainContent{
   background-color: bisque;
   margin-left: 15.5vw;
   margin-right: 15.5vw;
   width: auto;
   height: 30vw;
}
main .rightSildBar{
   background-color: cadetblue;
   float: right;
   width: 15vw;
   height: 30vw;
}
.wrapper{
    width: 300px;
    border: 1px solid #ccc;
    
}
.wrapper img{
    height: 100px;
    width: 100px;
    float: left;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.wrapper1{
    border: 3px solid yellow;
}