body,html{
    height: 100%;
}
.layout{
    width: 200%;
    height: 100%;
    margin: 0 auto;
    background: red;
    border: 4px solid black;
}
.content{
    background: blue;
    width: 100%;
    display: inline-block;
}