.box{
    border: 1px solid red;
    width: 150px;
    height: 200px;
}
.box span{
    background-color: blue;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    display: inline;
}